{% extends 'work/_work.html' %}

{% block header %}Выдача СИ{% endblock %}

{% block content %}
    <table class="table table-striped table-bordered table-condensed">
        {% for obj in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{{ obj.get_absolute_url }}">{{ obj.measure }} № {{ obj.number }}</a>
                </td>
                <td>{{ obj.owner }}</td>
                <td><a class="btn btn-mini" href="{% url 'work_issue' obj.id %}">Выдать</a></td>
            </tr>
        {% empty %}
            Ничего нет
        {% endfor %}
    </table>
{% endblock %}